/* WEb Font*/

@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/nexa_light-webfont.woff2') format('woff2'), url('../fonts/nexa_light-webfont.woff') format('woff'), url('../fonts/nexa_light-webfont.ttf') format('truetype'), url('../fonts/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/nexa_bold-webfont.woff2') format('woff2'), url('../fonts/nexa_bold-webfont.woff') format('woff'), url('../fonts/nexa_bold-webfont.ttf') format('truetype'), url('../fonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadProRegular_0.eot');
    src: url('../fonts/MyriadProRegular_0.eot') format('embedded-opentype'), url('../fonts/MyriadProRegular_0.woff2') format('woff2'), url('../fonts/MyriadProRegular_0.woff') format('woff'), url('../fonts/MyriadProRegular_0.ttf') format('truetype'), url('../fonts/MyriadProRegular_0.svg#MyriadProRegular_0') format('svg');
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Bold.otf') format('opentype'), url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype'), url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
}

body {
    font-family: 'nexa_lightregular';
}

h1, h2, h3, h4, h5 {
    font-family: 'nexa_boldregular';
}

.img-fuild {
    width: 100%;
    height: auto;
}

/** home page start**/

.header-area {
    background-image: url(../images/slider.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.heading-sub-area {
    padding-top: 85px;
    padding-left: 50px;
}

.heading-txt span {
    color: #e4f803;
}

.heading-txt {
    color: #fff;
    font-size: 28px;
}

.heading-txt-sec {
    background: rgba(255, 255, 255, 0.7411764705882353);
    padding: 5px 4px;
    font-weight: 100;
    letter-spacing: 0.5px;
    font-size: 26px;
}

.down-btn {
    display: flex;
    margin-left: 40px;
}

.down-btn-txt, .down-btn-hrf {
    padding: 12px 8px;
}
.down-btn-hrf{
    padding-bottom: 0px;

}
.down-btn-hrf a{
    color:#fff;
}
.down-btn-txt {
    background-color: #e4f803;
    font-size: 18px;
}

.down-btn-hrf {
    background-color: #000;
}

h2.section-heading label.he-name {
    color: #333;
    background-color: transparent;
    padding: 0px;
    text-transform: uppercase;
}

h2.section-heading label {
    color: #e4f803;
    background-color: #231f20;
    padding: 0px 5px;
}

h2.section-heading h2 {
    margin-top: 10px;
}

.border-small {
    width: 50px;
    border: 2px solid #e4f803;
}

.cont-area-left, .cont-area-right {
    padding: 8% 0px;
}

.cont-area-right p {
    font-size: 16px;
}

/** activity-area start **/

.activity-area .row {
    margin: 0px;
}

.activity-area-inner {
    padding: 0px;
    margin-bottom: 5px;
    position: relative;
}

.activity-area-inner:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
}

@media (min-width: 1200px) {
    .activity-area-inner {
        width: 33.033333%;
    }
}

.activity-area-inner::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
}

.activity-area-inner-txt h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 26px;
    margin-bottom: 25px;
}

.activity-area-inner-txt {
    position: absolute;
    z-index: 99;
    top: 35%;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: 56%;
    color: #e4f803;
    font-size: 16px;
    text-align: center;
    font-family: 'nexa_boldregular';
}

.activity-area-inner-txt p {
    line-height: 18px;
}

/** activity-area end **/

/** blog-area start **/

.bolg-area {
    padding-top: 45px;
}

.section-heading-area {
    margin-bottom: 35px;
}

.bolg-area-inner {
    position: relative;
    padding: 0px;
    margin-bottom: 15px;
}

.bolg-area-inner-txt {
    position: absolute;
    bottom: 0px;
    background-color: #231f20;
    width: 100%;
    text-align: center;
    color: #fff;
    height: 145px;
    padding-top: 16px;
}

.bolg-area-inner-txt h1 {
    color: #e7ea08;
    font-size: 24px;
    text-transform: uppercase;
}

.bolg-area-inner:nth-child(2) {
    margin-left: 15px;
    margin-right: 15px;
}

.bolg-area .row {
    padding: 0px 15px;
}

@media (min-width: 1200px) {
    .bolg-area-inner {
        width: 32.033333%;
    }
}

/** blog-area end **/

/** experience area start **/

.experience-area {
    background-image: url('../images/experience-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.experience-area h2.section-heading {
    color: #fff;
}

.experience-area h2.section-heading label {
    color: #000;
    background-color: #e7ea08;
}

.experience-area-inner {
    padding: 0px;
    background-color: #fff;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.experience-area-inner-txt {
    height: 180px;
    padding-top: 20px;
}

.experience-area-inner-txt h1 {
    font-size: 26px;
}

.experience-area-inner-txt p {
    font-size: 16px;
    padding: 15px 20px;
}

a.more-link {
    color: #000;
    background-color: #e4f803;
    font-family: 'nexa_boldregular';
    padding: 5px 15px;
}

.experience-area-inner:nth-child(2) {
    margin-left: 15px;
    margin-right: 15px;
}

.bolg-area .row {
    padding: 0px 15px;
}

@media (min-width: 1200px) {
    .experience-area-inner {
        width: 32.033333%;
    }
}

/** experience area end **/

/** home page end**/

/** footer area start **/

.footer-area {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #e7ea08;
}

.copyright-area {
    background-color: #221f1f;
    padding: 4px 8px;
    color: #e7ea08;
}

.copyright-area .row {
    margin: 0px;
}

ul.footer-menu {
    list-style: none;
    padding: 0;
    padding-top: 30px;
}

ul.footer-menu li {
    margin-bottom: 10px;
}

ul.footer-menu li a {
    color: #000;
    text-decoration: none;
}

.footer-area p {
    color: #000;
    padding-top: 30px;
}

.footer-area p a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.footer-area img {
    width: 70px;
}

.footer-area .border-small {
    border: 2px solid #221f1f;
}

.footer-area h2.section-heading {
    font-size: 26px;
    margin-top: 10px;
}

/** footer area end **/

/** menu start **/

.header-area .row {
    margin: 0;
}

img.header-logo {
    width: 70px;
    margin: 16px;
}

ul.head_menu {
    list-style: none;
}

ul.head_menu li {
    display: inline-block;
}

ul.head_menu li a {
    color: #fff;
    text-decoration: none;
    padding: 4px 14px 0px 15px;
    text-transform: capitalize;
    font-size: 15px;
}

/* ul.head_menu li a.active {
    background-color: #ffc61a;
    border-radius: 35px;
    color: #000 !important;
} */

/* nav ul {
    float: right;
} */

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #1f2227;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.04em;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 760px) {
    .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: rgba(31, 34, 39, 0.88);
        opacity: 0;
        transition: all 0.2s ease;
    }
    .nav-container ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    .nav-container ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        /* margin-bottom: 10px; */
    }
    .nav-container ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }
    .nav-container ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }
    .nav-container ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }
    .nav-container ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }
    .nav-container ul li:not(:first-child) {
        margin-left: 0;
    }
    .nav-container ul li a {
        padding: 10px 25px;
        opacity: 0;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        transform: translateY(-20px);
        transition: all 0.2s ease;
    }
    .nav-open {
        position: absolute;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }
    .nav-open i {
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
        border-radius: 2px;
        margin-left: 14px;
    }
    .nav-open i:nth-child(1) {
        margin-top: 16px;
    }
    .nav-open i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }
    .nav-open i:nth-child(3) {
        margin-top: 4px;
    }
}

#nav:checked+.nav-open {
    transform: rotate(45deg);
}

#nav:checked+.nav-open i {
    background: #fff;
    transition: transform 0.2s ease;
}

#nav:checked+.nav-open i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-open i:nth-child(2) {
    opacity: 0;
}

#nav:checked+.nav-open i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-container {
    z-index: 9990;
    opacity: 1;
}

#nav:checked~.nav-container ul li a {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    display: none;
}

/** menu end **/

/** pages start **/

.header-area.pages-area {
    background-image: none;
    height: auto;
    position: relative;
}

.manu-area {
    position: fixed;
    z-index: 105;
    width: 100%;
}

.manu-area {
    background-color: #e2f31e;
    height: 50px;
}

.manu-area ul.head_menu {
    margin-top: -20px;
}

.manu-area ul.head_menu li a {
    color: #000;
}

.manu-area ul.head_menu li a.active {
    font-family: 'nexa_boldregular';
}

.manu-area img.header-logo {
    width: 70px;
    margin: 0px;
    background-color: #e2f31e;
    border-radius: 50%;
    padding: 5px;
}

/** slider start **/

.slider-area-inner {
    padding: 0px;
}

.slider-area-icons {
    position: absolute;
    z-index: 100;
    bottom: 0px;
    left: 160px;
}

.slider-area-icons ul {
    margin: 0px;
    list-style: none;
    padding: 0;
}

.slider-area-icons ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
    line-height: 40px;
    cursor: pointer;
}

.slider-area-icons ul li:first-child {
    background-color: #100404;
    color: #fff;
}

.slider-area-icons ul li:last-child {
    background-color: #dcdcdc;
    color: #000;
}

/** slider end **/

.page-inner-area {
    display: flex;
}

.left-sidebar {
    width: 200px;
    background-color: #d3e40c;
    position: relative;
    top: -150px;
    height: 850px;
}

.right-sidecontent {
    width: calc(100% - 200px);
    padding-left: 20px;
}

.right-sidecontent .row {
    margin: 0px;
}

.ads-area div {
    margin-bottom: 15px;
}

.listing-area-outer {
    padding: 0px
}

.listing-area>div {
    padding: 10px;
}

.listing-area-inner {
    border: 1px solid #e1e1e1;
    font-family: 'MyriadProRegular';
    text-transform: uppercase;
}

.listing-area-inner h2 {
    font-family: 'MyriadPro-Bold';
    background-color: #d3e40c;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-top: 15px;
}

.listing-area-inner h3 {
    font-family: 'MyriadPro-Bold';
    margin: 0px;
    font-size: 16px;
}

.listing-area-inner ul {
    padding: 0px 20px;
}

.listing-area-inner ul li {
    list-style: none;
    display: flex;
    margin-bottom: 10px;
}

.listing-details a {
    color: #000;
}

.listing-area-inner p {
    padding: 0px 20px;
}

.listing-details {
    margin-left: 15px;
}

.left-header {
    padding: 20px;
}

.left-header h2 {
    margin-top: 10px;
    font-size: 28px;
}

ul.list_menu {
    list-style: none;
    padding-left: 25px;
    padding-top: 50px;
}

ul.list_menu li {
    margin-bottom: 10px;
}

ul.list_menu li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

ul.list_menu li a.active {
    font-family: 'nexa_boldregular';
}

.left-list-area {
    padding-top: 150px;
}

.right-sidecontent .section-heading-area {
    padding-left: 50px;
}

.ph-details {
    padding: 5px 10px;
    margin-bottom: 10px;
}

.ph-details a {
    font-family: 'MyriadPro-Bold';
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.ph-details img {
    width: 25px;
    margin-right: 10px;
    height: 25px;
}

.restaurunt-time img {
    width: 24px;
    margin-right: 10px;
    height: 24px;
}

.ph-details-area {
    display: flex;
}

.accomodation .ph-details {
    width: 100%;
}

.ph-details, .restaurunt-time {
    display: flex;
    width: 50%;
}

.restaurunt-time {
    padding-top: 5px;
}

.restaurunt-time p {
    padding: 0;
    font-size: 10px;
    font-family: 'MyriadPro-Bold';
}

.num {
    line-height: 15px;
}

.num a {
    font-size: 10px;
}

.listing-details p {
    padding: 0px;
    margin: 0px;
}

h3 i {
    font-size: 12px;
    font-weight: 100;
    font-family: 'nexa_boldregular';
}

p.shopping-desc {
    margin-bottom: 40px;
    font-size: 12px;
}

.blog-area .cont-area-left {
    padding: 20px 0px;
}

.blog-area .section-heading-area {
    padding-left: 0px;
}

.blog-details-area p {
    text-align: center
}

.blog-details-area h2 {
    text-transform: uppercase;
    line-height: 30px;
}

.blog-details-area h2 span {
    font-size: 14px;
    text-transform: capitalize;
}

.blog-details-area img {
    margin-bottom: 15px;
}

.blog-details-area {
    border: 1px solid #000;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

.article-name {
    margin-top: 25px;
}

.inner-txt {
    text-align: center;
}

.inner-txt h1 {
    font-size: 18px;
    text-transform: uppercase;
}

.inner-txt p {
    font-size: 14px;
    padding: 20px;
}

.inner-txt a {
    padding: 6px 15px;
    background-color: #e4f801;
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.experiences .bolg-area-inner {
    border: 1px solid #dedede;
    padding-bottom: 20px;
}

.experiences.attractions .bolg-area-inner {
    padding-bottom: 0px;
}

.attractions .inner-txt {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

.attractions .inner-txt h1 {
    margin: 15px 0px;
}

.attractions .blog-details-area h2 {
    margin: 0;
}

.bog-content-right {
    box-shadow: 1px 1px 10px 2px #0000005c;
    padding: 15px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -20px;
    background-color: #fff;
    max-height: 300px;
    overflow-y: auto;
}

.attractions .blog-details-area {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.close-btn {
    position: absolute;
    width: 28px;
    top: -12px;
    right: -15px;
    cursor: pointer;
}

.close-btn img {
    width: 25px;
}

.blog-details-area {
    display: none;
}

.slider-area-icons ul li i.material-icons {
    margin-top: 8px;
}

/** pages end **/

@media (max-width: 1200px) {
    .blog-details-area {
        width: 98%;
    }
}

@media (min-width: 992px) {
    .experience-area-inner, .bolg-area-inner {
        width: 32.033333%;
    }
    .activity-area-inner {
        width: 32.933333%;
    }
}

@media (max-width: 768px) {
    .cont-area-left, .cont-area-right {
        padding-left: 15px;
        padding-right: 15px;
    }
    .activity-area-inner:nth-child(2), .bolg-area-inner:nth-child(2), .experience-area-inner:nth-child(2) {
        margin-left: 0px;
        margin-right: 0px;
    }
    .right-sidecontent {
        width: 100%;
        padding-left: 0px;
    }
    .left-sidebar {
        display: none;
    }
    .slider-area-icons {
        left: 0px;
    }
    .right-sidecontent.blog-area {
        padding-left: 15px;
        padding-right: 15px;
    }
    .blog-details-area {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .experience-area-inner, .bolg-area-inner {
        width: 30%;
    }
    .blog-area .bolg-area-inner {
        width: 32%;
    }
    .activity-area-inner {
        width: 33.033333%;
    }
    .activity-area-inner-txt h1 {
        font-size: 19px;
    }
    .activity-area-inner-txt {
        top: 25%;
    }
}